# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Supabase database.
POSTGRES_URL="postgres://postgres.[USERNAME]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?workaround=supabase-pooler.vercel"
FIGMA_TOKEN="your-figma-token"
FIGMA_FILE_KEY="xzaCjlN7oDG6bZPMZUv3K2"
FIGMA_FILE_NODE_ID_ICON="857-23516"
FIGMA_API_URL="https://api.figma.com/v1/files"

# Icon Automation
ICON_FILE_ID="xzaCjlN7oDG6bZPMZUv3K2"
ICON_PAGE="Design System Master File"
ICONS_DIR_PATH="packages/ui/src/atoms/icons/generated"

#The Ports of each APP
LANDING_PORT=3000
ADMIN_PORT=3001
LMS_PORT=3002
WEB_PORT=3003

# Google integrations for landing admission form
GOOGLE_SERVICE_ACCOUNT_EMAIL="service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="your-google-sheet-id"
GOOGLE_DRIVE_FOLDER_ID="your-google-drive-folder-id"
